target/
**/*.rs.bk
/config
_dist/
node_modules/
.DS_Store

# oneclick trace files
krustlet-wascc-e2e.stdout.txt
krustlet-wascc-e2e.stderr.txt
krustlet-wasi-e2e.stdout.txt
krustlet-wasi-e2e.stderr.txt
