[Unit]
Description=Krustlet - a kubelet implementation for running WebAssembly

[Service]
# Global and static parameters: NODE_LABELS
EnvironmentFile=/etc/eksctl/krustlet.local.env
Environment=KUBECONFIG=/etc/eksctl/kubeconfig.yaml
Environment=KRUSTLET_CERT_FILE=/etc/krustlet/krustlet.crt
Environment=KRUSTLET_PRIVATE_KEY_FILE=/etc/krustlet/krustlet.key
Environment=KRUSTLET_DATA_DIR=/var/cache/krustlet
Environment=RUST_LOG=wascc_provider=info,wasi_provider=info,main=info
ExecStart=/usr/local/bin/krustlet
Restart=on-failure
RestartForceExitStatus=SIGPIPE
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
